/* Medium Layout: 1280px. */
@media only screen and (max-width: 767px) { 
    /*==================== HOME PAGE ==========================*/
    .menu-area {
        background-color: #550074;
    }
    nav.menu-area.navbar.navbar-expand-lg.navbar-light.navbar-custom.main {
        padding: 16px 20px;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        top: 60%;
    }
    li.nav-button {
        margin-top: 24px;
        margin-left: 31px;
    }
    .header-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .header-heading {
        margin-bottom: 24px;
    }
    .sub-heading span {
        margin-left: 0px;
        line-height: 24px;
    }
    .single-product-content {
        margin-top: 0px;
    
    }
    a.logo {
        font-size: 38px;
    }
    .nav-content{display: block;}
}
    /* Tablet Layout: 768px. */
    @media only screen and (min-width: 768px) and (max-width: 991px) { 
    /*==================== HOME PAGE ==========================*/
    .menu-area {
        background-color: #550074;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        top: 60%;
    }
    .header-content {
        width: 60%;
    }
    li.nav-button {
        margin-top: 24px;
        margin-left: 31px;
    }

    }
    /* Mobile Layout: 320px. */
    @media only screen and (min-width: 992px) and (max-width: 1200px) { 
       
    }
    /* Wide Mobile Layout: 480px. */
    @media only screen and (min-width: 480px) and (max-width: 767px) { 
  




    }
    